<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Información</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    Aplicacion creada con Angular + Spring Boot donde podremos ver disintos tipos de peliculas junto a sus directores y su fecha. Ademas registrandonos podremos añadir, modificar y borrar nuestras peliculas.
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary mt-2" routerLink="">Volver</a>
</div>